.heading {
  color: #4D3F3F;
  font-weight: bold;
  font-size: 8.5vh;
  line-height: 9.5vh;
}

.description {
  color: #5F4D4D;
  font-size: 2.5vh;
}

@media only screen and (min-width: 992px) {
  .name-form {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}